<div class="page row" ng:show="sel == 1">
	<ul class="genres sixcol">
		<li ng-repeat="genre in genres | startFrom:0 | limitTo:12"><h3><a href ng-click="setSel(2, genre)">{{genre}}</a></h3></li>
	</ul>
	<ul class="genres sixcol">
		<li ng-repeat="genre in genres | startFrom:12 | limitTo:12"><h3><a href ng-click="setSel(2, genre)">{{genre}}</a></h3></li>
	</ul>
</div>
<div class="page {{class}}" ng:show="sel == 2" id="genreStations" style="position: relative;">
	<button style="float: right" class="button" ng-click="sel = 1; clearData()">&#171; Back to Genres</button>
	<h2>{{genreTitle}}</h2>
	<ul class="stations">
		<li ng-repeat="station in stations" ng-class="getClass(station.STATION_BROADCASTER)" logic-option></li>
	</ul>
</div>
