<div id="logout" class="modal-window">
	<div class="modal-container">
		<div class="modal-head">
			<h2>Logout</h2>
			<p>It was simple, and free.</p>
			<a class="modal_close" href="#"></a>
		</div>

		<div class="modal-content" ng-show="isLoggedIn()">
			<button class="button" type="submit" ng-click="logout()">Log Out &#187;</button>
		</div>
		
		<div class="modal-content" ng-hide="isLoggedIn()">
			<h2>Logout Successful!</h2>
			<p>We hope you enjoyed the site.</p>
			<img id="checkmark" src="images/checkmark.png" width="40px">
		</div>
	</div>
</div>
