<div class="container">
    <form class="form-horizontal" name="form">
        <legend>Forgot your password?</legend>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input name="username" ng-init="username=''" ng-model="username" placeholder="Username" required type="text">
                <span class="help-inline" ng-show="form.username.$error.required">Required</span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="resetPassword()" ng-disabled="form.$invalid" type="submit">Reset password</button>
            </div>
        </div>
    </form>
</div>